.or{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.aaaa h1 {
   color: aliceblue;
}
.hor {
    display: flex ;
    justify-content: center;
    margin: 10px;
}


.todoo button a{
    color: white;
}
.block button a{
    color: white;
}
.dentro button a {
    color: white;
}
.text button a {
    color: white;
}




header a{
    color: white;
}

a{
    list-style: none;
    text-decoration: none;
}


.hor p { 
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cuerpo{ 
    background-color: rgb(90, 151, 221);
    margin-left:  10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    
}
.cuerpo p { 
    font-size: 23px;
}

.ads{ 
padding: 10px;
margin-top: -10px;
}
.adsss{ 
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
}




.linea { 
    background-color: rgb(0, 0, 0);
    padding: 1px;
    margin-left: 10%;
    margin-right: 10%;
}
img {
    width: 500px;
}
footer {
    background-color: #72728f;
    padding: 10px;
    text-align: center;
}
