<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Horizon Hotel</title>
    <link rel="stylesheet" href="/static/habitaciones.css">
</head>

<body>
    <header>
        <a href="{{url_for('index')}}"><h1>
            Blue Horizon Hotel
        </h1></a>
        <div class="barra">
             <ul>
                 <li><img src="/static/img/hogar.png"alt="a"><a href="{{url_for('index')}}">INICIO</a></li>
                 <li><img src="/static/img/dia-del-calendario.png" alt="c"><a href="{{url_for('eventos')}}">EVENTOS Y SALONES</a></li>
                 <li><img src="/static/img/vidrio-salud.png" alt="d"><a href="{{url_for('restaurant')}}">RESTAURANT Y BAR</a></li>
             </ul>
    </div>
</header>
<div class="dds">
    <a href="{{url_for('semi')}}">
    <img src="/static/img/angulo-izquierdo.png" alt="">
</a>
    <h1>Habitaciones economicas</h1>
    <a href="{{url_for('lujo')}}">
    <img src="/static/img/angulo-derecho.png" alt="">
</a>

</div>
<div class="todoo">
<div class="block ">
    <div class="dentro"><img src="https://www.elmueble.com/medio/2021/02/17/00527481_dd434a0e_1600x2000.jpg" alt="hab 1"> </div>
   <div class="text">
        <h1>Habitación Esencia</h1>
        <p>Privada - Economica - Viña del mar</p>
        <h3> Una acogedora habitación con decoración minimalista y elegante. Equipada con una cama queen, escritorio de trabajo y baño privado con acabados de mármol. Ideal para viajeros que buscan confort y estilo sin excesos.</h3>
         <a href="{{url_for('reserva_lujo')}}"> <button class="reserve-button">Reservar</button></a>
    </div>
</div>
</div>
<div class="todoo">
    <div class="block ">
        <div class="dentro"><img src="https://i.pinimg.com/originals/c7/8e/56/c78e5634a85d041bef8143ad2e88bfc3.jpg" alt="hab 1"> </div>
       <div class="text">
            <h1>Habitación Serenidad</h1>
            <p>Privada - Economica - Viña del mar</p>
            <h3>Espacio tranquilo y relajante con vistas al jardín. Cuenta con una cama king, área de lectura y baño con ducha de efecto lluvia. Perfecta para quienes desean un refugio de paz en medio del lujo.</h3>
            <a href="{{url_for('reserva_lujo')}}"> <button class="reserve-button">Reservar</button></a>
        </div>
    </div>
    </div>
    <div class="todoo">
        <div class="block ">
            <div class="dentro"><img src="https://media.admagazine.com/photos/618a6a30c649ce85eef7573d/master/w_1600%2Cc_limit/62832.jpg" alt="hab 1"> </div>
           <div class="text">
                <h1>Habitación Armonía</h1>
                <p>Privada - Economica - Viña del mar</p>
                <h3>Diseñada para el descanso y la comodidad, esta habitación ofrece una cama doble, TV de pantalla plana y minibar. El baño incluye artículos de tocador de alta gama. Ideal para parejas o viajeros solos.</h3>
                <a href="{{url_for('reserva_lujo')}}"> <button class="reserve-button">Reservar</button></a>
            </div>
        </div>
        </div>
        <div class="todoo">
            <div class="block ">
                <div class="dentro"><img src="https://i.pinimg.com/originals/55/d5/fb/55d5fbd0c4e699f7fb01d9fe12d3c704.jpg" alt="hab 1"> </div>
               <div class="text">
                    <h1>Habitación Encanto </h1>
                    <p>Privada - Economica - Viña del mar</p>
                    <h3>Con un diseño moderno y funcional, esta habitación cuenta con una cama queen, escritorio y baño privado con bañera. Perfecta para estancias cortas o viajes de negocios.</h3>
                   <a href="{{url_for('reserva_lujo')}}"> <button class="reserve-button">Reservar</button></a>
                </div>
            </div>
            </div>
            <div class="todoo">
                <div class="block ">
                    <div class="dentro"><img src="https://i.pinimg.com/originals/69/36/b4/6936b42f96a56837a33670b512498de2.jpg" alt="hab 1"> </div>
                   <div class="text">
                        <h1>Habitación Tranquilidad</h1>
                        <p>Privada - Economica - Viña del mar</p>
                        <h3>Espacio luminoso y sereno con una cama king, área de trabajo y baño con ducha de efecto lluvia. Ideal para quienes buscan un ambiente relajante y sofisticado.</h3>
                        <a href="{{url_for('reserva_lujo')}}"> <button class="reserve-button">Reservar</button></a>
                 </div>
                </div>
                </div>
                <div class="todoo">
                    <div class="block ">
                        <div class="dentro"><img src="https://estudantehotel.es/wp-content/uploads/2021/08/room2-v1.jpg" alt="hab 1"> </div>
                       <div class="text">
                            <h1>Habitación Confort</h1>
                            <p>Privada - Economica - Viña del mar</p>
                            <h3> Habitación cómoda y bien equipada con una cama doble, TV de pantalla plana y baño privado. Perfecta para viajeros que buscan una estancia agradable y sin complicaciones.</h3>
                            <a href="{{url_for('reserva_lujo')}}"> <button class="reserve-button">Reservar</button></a>
                        </div>
                    </div>
                    </div>

                    <footer>
                        <h3 class="">Información de contacto</h3>
                        <ul>
                            <li><a href="#">Teléfono: +123 456 789</a></li>
                            <li><a href="#">Correo electrónico: info@miempresa.com</a></li>
                        </ul>
                    </footer>
                

</body>