<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Horizon Hotel</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1><a href="{{url_for('index')}}">
            Blue Horizon Hotel
       </a> </h1>
        <div class="barra">
            <ul>
                <li><img src="/static/img/edificio.png" alt="b"> <a href="{{url_for('lujo')}}">HABITACIONES</a></li> 
                <li><img src="/static/img/dia-del-calendario.png" alt="c"><a href="{{url_for('eventos')}}">EVENTOS Y SALONES</a></li>
                <li><img src="/static/img/vidrio-salud.png" alt="d"><a href="{{url_for('restaurant')}}">RESTAURANT Y BAR</a></li>
            </ul>
        </div>
    </header>

    <div class="videoContainer">
        <video class="video"
            src="/static/img/Y2meta.app-El destino de tus sueños te espera en Mojácar Playa Hotel_ descubre el significado de la felicidad-(1080p).mp4"
            video/mp4 autoplay loop > </video>
        <div class="backdrop"></div>
    </div>

    <ul class="secciones">
        <a href="{{url_for('lujo')}}">
        <li class="seccion_1">
            <h1>Habitaciones Lujosa</h1>
            <img src="/static/img/lujosaaaa.jpg" alt="">
            <h4> Las habitaciones de lujo en hoteles ofrecen una experiencia excepcional para los huéspedes.
                Suelen tener áreas separadas para dormir, descansar y trabajar, además de servicios premium como
                minibar, televisión de pantalla plana y aire acondicionado. Las suites presidenciales son las
                más lujosas, con comodidades como ropa de cama de alta calidad y tecnología avanzada. En
                resumen, son ideales para quienes buscan una estancia exclusiva y relajante.</h4>
        </li>
    </a>
        <a href="{{url_for('semi')}}">
        <li class="seccion_2">
           
            <h1>Habitaciones Semi-Lujosa</h1>
            <img src="/static/img/lujo.avif" alt="">
         
            <h4>
                ubicada en un hotel céntrico o con vistas panorámicas, con mobiliario de diseño elegante y funcional,
                buena iluminación a través de ventanas grandes o terraza, elementos de confort como una cama king-size y
                ropa de cama de alta calidad, y servicios adicionales como minibar, internet de alta velocidad o
                servicio de concierge
            </h4>
        </li>
          </a>
          <a href="{{url_for('barata')}}">
        <li class="seccion_3">
            <h1>Habitaciones Baratas</h1>
        <img src="/static/img/c5ce39cb.avif" alt="">
            <h4>
                ubicada en un hotel céntrico o con vistas panorámicas, con mobiliario de diseño elegante y funcional,
                buena iluminación a través de ventanas grandes o terraza, elementos de confort como una cama king-size y
                ropa de cama de alta calidad, y servicios adicionales como minibar, internet de alta velocidad o
                servicio de concierge
            </h4>
        </li>
    </a>
    </ul>

        <div class="container-evento container-der">
            <a href="#"><video src="/static/img/bodas.webp" alt=""></a>
        </div>

        <div class="container-evento container-izq">
            <a href="#"><video src="/static/img/bodas.webp" alt=""></a>
        </div>

        <div class="container-evento container-der">
            <a href="#"><img src="/static/img/   .webp" alt=""></a>
        </div>
    </div>

    <footer>
        <h3 class="">Información de contacto</h3>
        <ul>
            <li><a href="#">Teléfono: +123 456 789</a></li>
            <li><a href="#">Correo electrónico: info@miempresa.com</a></li>
        </ul>
    </footer>


    <script>
        document.getElementById('video').addEventListener('mouseover', function() {
            this.play();
          });
          
          document.getElementById('video').addEventListener('mouseout', function() {
            this.pause();
          });
          
    </script>
</body>

</html>
