<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Horizon Hotel</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/rest.css">
</head>

<body>
    <header>
        <a href="{{url_for('index')}}"><h1>
            Blue Horizon Hotel
        </h1></a>
        <div class="barra">
             <ul>
                 <li><img src="/static/img/hogar.png"alt="a"><a href="{{url_for('index')}}">INICIO</a></li>
                 <li><img src="/static/img/edificio.png" alt="b"> <a href="{{url_for('lujo')}}">HABITACIONES</a></li> 
                 <li><img src="/static/img/dia-del-calendario.png" alt="c"><a href="{{url_for('eventos')}}">EVENTOS Y SALONES</a></li>
             </ul>
    </div>
</header>
<main>
    <div class="or">
    <h1>RESTAURANT Y BAR</h1>
</div>
<div class="or">
     <h1> DISFRUTA UNA EXQUISITA GARONOMÍA EN VIÑA DEL MAR </h1>

</div>
<div>
        <div class="hor">
<p>delicioso desayuno  buffet todos los dias en el piso 8, disponible desde las 7:00 AM hasta las 10:00 AM. 
</p>
</div>
<div class="hor">
    <p> Para almorzar y cenar, acompañanos de dia lunes a viernes de 1 PM a 9:00 PM junto a una delciosa experiencia gastronomica. </p>

</div>
</div>


<div class="cuerpo">
    <div><img src="https://tse1.mm.bing.net/th?id=OIP.Z4go6sarAoAKDmvYwg6IgwHaEK&pid=Api&P=0&h=180" alt="dd"></div>
 <div class="ads">
        <h1>Bienvenidos al Restaurante y Bar</h1>
         <p>Sumérgete en un entorno sereno mientras disfrutas de las impresionantes vistas, lo que lo convierte en un entorno ideal para relajarte. Ya sea que estés buscando una cena romántica, una comida informal con amigos o una bebida refrescante después de un día de exploración, nuestros restaurantes y bares en Blue Horizon Hotel brindan el ambiente perfecto y un servicio excepcional para mejorar tu experiencia gastronómica en el hotel Blue Horizon en Chile.</p>
    </div>
</div>
<div class="linea"></div>

<div class="cuerpo">
   
 <div class="adsss">
        <div>
        <h1>EXPERIENCIA GASTRONÓMICA</h1>
         <p>Nuestro restaurante y bar ofrece la mejor variedad de comida de la zona, con una selección de platos típicos nacionales e internacionales. Disfruta de nuestra exquisita gastronomía en el Blue Horizon Hotel, donde cada bocado es una experiencia inolvidable. Desde nuestras empanadas tradicionales hasta sofisticados platos de cocina internacional, nos esmeramos en brindarte una experiencia culinaria única y memorable. Relájate en nuestro acogedor ambiente mientras saboreas nuestras especialidades preparadas con ingredientes frescos y de alta calidad. Ven y descubre por qué somos el destino favorito de los amantes de la buena comida.</p>
        </div>
         <div><img src="https://tse2.mm.bing.net/th?id=OIP.JC6myq6YupQi58OJL2w2HwHaEK&pid=Api&P=0&h=180
            " alt="dd"></div>
        </div>
</div>

</div>
<footer>
    <h3 class="">Información de contacto</h3>
    <ul>
        <li><a href="#">Teléfono: +123 456 789</a></li>
        <li><a href="#">Correo electrónico: info@miempresa.com</a></li>
    </ul>
</footer>


</main>