<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Horizon Hotel</title>
    <link rel="stylesheet" href="/static/habitaciones.css">
</head>

<body>
    <header>
        <a href="{{url_for('index')}}"><h1>
            Blue Horizon Hotel
        </h1></a>
        <div class="barra">
             <ul>
                 <li><img src="/static/img/hogar.png"alt="a"><a href="{{url_for('index')}}">INICIO</a></li>
                <li><img src="/static/img/dia-del-calendario.png" alt="c"><a href="{{url_for('eventos')}}">EVENTOS Y SALONES</a></li>
                 <li><img src="/static/img/vidrio-salud.png" alt="d"><a href="{{url_for('restaurant')}}">RESTAURANT Y BAR</a></li>
             </ul>
    </div>
</header>
<div class="dds">
    <a href="{{url_for('lujo')}}">
    <img src="/static/img/angulo-izquierdo.png" alt="">
</a>
    <h1>Habitaciones Semi-Lujosas</h1>
    <a href="{{url_for('barata')}}">
    <img src="/static/img/angulo-derecho.png" alt="">
</a>
    

</div>
<div class="todoo">
<div class="block ">
    <div class="dentro"><img src="https://tse3.mm.bing.net/th?id=OIP.ncdiNB4hl5XQHfqHT6S0EQHaE8&pid=Api&P=0&h=180" alt="hab 1"> </div>
   <div class="text">
        <h1>Junior Suite</h1>
        <p>Privada - lujo - Viña del mar</p>
        <h3>Una Junior Suite ofrece un espacio más amplio que una habitación estándar, generalmente con una pequeña área de estar separada. Es perfecta para huéspedes que desean un poco más de comodidad y espacio para relajarse.</h3>
            <a href="{{url_for('reserva_lujo')}}"> <button class="reserve-button">Reservar</button></a>

    </div>
</div>
</div>
<div class="todoo">
    <div class="block ">
        <div class="dentro"><img src="https://tse2.mm.bing.net/th?id=OIP.pkf3j-vHhuy54G0g2xcSjwHaE8&pid=Api&P=0&h=180" alt="hab 1"> </div>
       <div class="text">
            <h1>Executive Room</h1>
            <p>Privada - lujo - Viña del mar</p>
            <h3>La Executive Room está diseñada para viajeros de negocios, ofreciendo comodidades adicionales como un escritorio amplio, conexión Wi-Fi de alta velocidad y acceso a salas de reuniones. Es ideal para aquellos que necesitan trabajar durante su estancia.</h3>
                <a href="{{url_for('reserva_lujo')}}"> <button class="reserve-button">Reservar</button></a>

        </div>
    </div>
    </div>
    <div class="todoo">
        <div class="block ">
            <div class="dentro"><img src="https://tse4.mm.bing.net/th?id=OIP.YXiYLb7mgIFGhpOsdxL8pgHaE8&pid=Api&P=0&h=180" alt="hab 1"> </div>
           <div class="text">
                <h1>Premium Room</h1>
                <p>Privada - lujo - Viña del mar</p>
                <h3>La Premium Room ofrece una experiencia superior con mejores vistas, mobiliario de mayor calidad y detalles adicionales como un minibar bien surtido y productos de baño exclusivos. Perfecta para quienes buscan un toque extra de confort.</h3>
                    <a href="{{url_for('reserva_lujo')}}"> <button class="reserve-button">Reservar</button></a>
         </div>
        </div>
        </div>
        <div class="todoo">
            <div class="block ">
                <div class="dentro"><img src="https://tse3.mm.bing.net/th?id=OIP.GQU6ktIGKO-NjXFxANZwigHaEC&pid=Api&P=0&h=180" alt="hab 1"> </div>
               <div class="text">
                    <h1>Deluxe Room</h1>
                    <p>Privada - lujo - Viña del mar</p>
                    <h3>La Deluxe Room combina espacio y estilo con una decoración elegante y servicios mejorados, como una cama king-size, televisión de pantalla plana y un baño moderno. Es ideal para parejas o viajeros que desean una estancia más cómoda y estilizada.</h3>
                        <a href="{{url_for('reserva_lujo')}}"> <button class="reserve-button">Reservar</button></a>
            </div>
            </div>
            </div>
            <div class="todoo">
                <div class="block ">
                    <div class="dentro"><img src="https://tse2.mm.bing.net/th?id=OIP.7MU2WKrZi7X8Lu-aSmgMHQHaFS&pid=Api&P=0&h=180" alt="hab 1"> </div>
                   <div class="text">
                        <h1>Terrace Room</h1>
                        <p>Privada - lujo - Viña del mar</p>
                        <h3>La Terrace Room ofrece el lujo de un espacio exterior privado, como un balcón o una terraza, donde los huéspedes pueden disfrutar de vistas al jardín o la ciudad. Esta habitación es ideal para aquellos que valoran el aire libre y desean un lugar tranquilo para relajarse.</h3>
                            <a href="{{url_for('reserva_lujo')}}"> <button class="reserve-button">Reservar</button></a>
                </div>
                </div>
                </div>
                <div class="todoo">
                    <div class="block ">
                        <div class="dentro"><img src="https://tse2.mm.bing.net/th?id=OIP.OUNkNifRPkagxmIA-GSLZgHaEK&pid=Api&P=0&h=180" alt="hab 1"> </div>
                       <div class="text">
                            <h1>Studio Suite</h1>
                            <p>Privada - lujo - Viña del mar</p>
                            <h3>La Studio Suite es una habitación tipo estudio que combina el dormitorio y la sala de estar en un espacio amplio y abierto. Suele incluir una pequeña cocina o kitchenette, ideal para estancias más largas o para aquellos que prefieren la opción de preparar sus propias comidas. Es perfecta para viajeros que buscan un hogar temporal con todas las comodidades necesarias.</h3>
                            <a href="{{url_for('reserva_lujo')}}"> <button class="reserve-button">Reservar</button></a>

                        </div>
                    </div>
                    </div>

</body>


<footer>
    <h3 class="">Información de contacto</h3>
    <ul>
        <li><a href="#">Teléfono: +123 456 789</a></li>
        <li><a href="#">Correo electrónico: info@miempresa.com</a></li>
    </ul>
</footer>
